@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

html {
    background: #FBFBFB;
    margin:0 auto;
}

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #40798C;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #CE7B91;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

html {
  font-family: 'PT Sans', sans-serif;
}

pre, code {
  font-family: 'Inconsolata', sans-serif;
  background: #D5D5D5;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
  border-radius: 5px;
}

td, th {
  border: 1px solid #40798C;
  padding: 0.5rem;
}

td {
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;    
}

th {
  color: #CE7B91;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.4em;
}

ul, ol {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

hr {
  border: 0;  
  border-top: 1px dotted #40798C;
}
