<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- favicon -->
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
                        <link rel="icon" href="/favicon.ico" type="image/x-icon">
			<!-- Global site tag (gtag.js) - Google Analytics -->
                        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139027976-1"></script>
			<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
  			gtag('config', 'UA-139027976-1');
			</script>
		</head>
		<body>
			<center class="hero-image">
				<img src="/assets/avvcblue.png" alt="anti virus virus club">
			</center>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/0x6D6172636F">@0x6D6172636F</a></li>
				</ul>
			</footer>
		</body>
	</html>
